<div class="container-fluid page">
    <div class="d-flex page__box p-3 mt-2">Home</div>
    <div class="page__content shadow p-3 position-relative">
        <!-- <div class="page__content-data position-absolute text-center"> -->
            <div class="page__content-data">
                <section id="hero" class="d-flex align-items-center" style="background-color:#0e1317">
                    <div class="container">
                      <div class="row">
                        <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
                          <h1><br>Better Solutions For Your Business</h1>
                          <h2>Trusted by 11 Mn+ worldwide for cryptocurrency trading.<br><br>Buy & Sell bitcoin, cryptocurrencies instantly with just $100.</h2>
                          <div class="d-flex justify-content-center justify-content-lg-start">
                            <a [routerLink]="['/form/signup']" class="btn-get-started scrollto" style="background-color: tomato;">Signup</a>
                            <a [routerLink]="['/form/login']" class="btn-get-started scrollto" style="margin-left: 10PX;background-color: tomato;">Login</a>
                          </div>
                        </div>
                        <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
                          <img src="assets/images/hero-img5.png" class="img-fluid" alt="">
                        </div>
                      </div>
                    </div>
                </section>

                <div class="container-fluid" style="background-color:#0e1317">
                    <div class="row">
                      <div class="col-sm-6">
                          <h1 class="text-center"style="color: white;margin-top: 50px; font-family: 'Jost', sans-serif;">Buy and sell cryptos</h1>
                          <h1 class="text-center"style="color: white;">easier than ever</h1>
                          <h1 class="text-center" style="color: white;margin-top: 50px;">“Plan your next move because every step contributes towards your goal.”</h1>
                       
                      </div>
                      <div class="col-sm-6">
                        <img src="assets/images/bitcoin.jpg" class="img-fluid img" alt="...">
                      </div>
                    </div>
                </div>
                <div class="container-fluid" style="background-color:#0e1317">
                    <div class="section-title">
                      <h2 style="color:white">What is cryptocurrencies?</h2>
                    </div>
                    <div class="row">
                      <div class="col-sm-6">
                        <img src="assets/images/cc4.jpg" class="img-fluid img" alt="...">
                      </div>
                      <div class="col-sm-6">
                          <h1 class="text-center"style="color: white;font-size:20px;margin-top:50px;">A cryptocurrency is a digital or virtual currency that is secured by cryptography, which makes it nearly impossible to counterfeit or double-spend. Many cryptocurrencies are decentralized networks based on blockchain technology—a distributed ledger enforced by a disparate network of computers. A defining feature of cryptocurrencies is that they are generally not issued by any central authority, rendering them theoretically immune to government interference or manipulation.</h1>
                      </div>
                    </div>
                </div>
                <div class="container-fluid" style="background-color:#0e1317">
                    <div class="section-title">
                      <h2 style="color:white"><br><br>Why trade in Cryptocurrencies?</h2>
                    </div>
                    <div class="row">
                      <div class="col-sm-6">
                        <img src="assets/images/bb.jpg" class="img-fluid img" alt="..." widt="150px" height="150px">
                      </div>
                      <div class="col-sm-6">
                          <h1 class="text-center"style="color: white;font-size:20px;margin-top:50px;">Cryptocurrencies are what stocks were centuries ago they are the new-age asset class growing at a pace never seen befor. Having successfully surpassed almost all trading instruments in terms of returns,they are on their way to becoming the go-to assest class,with around 11 million Indians traing in Cryptocurrencies. Start your trading journey now!</h1>
                      </div>
                    </div>
                </div>    
        </div>
    </div>
</div>