<div class="container-fluid page">
    <div class="d-flex page__box p-3 mt-2">About</div>
    <div class="page__content shadow p-3 position-relative">
        <!-- <div class="page__content-data position-absolute text-center"> -->
            <div class="page__content-data">
              <section id="about" class="about" style="background-color: #0e1317;">
                <div class="container" data-aos="fade-up" >
          
                  <div class="section-title">
                    <h2 style="color:white">About Us</h2>
                  </div>
                  <div class="row content">
                    <div class="col-lg-6">
                      <p style="color: white;">
                        globalQFX was founded by group of traders and financial professionals having significant experience in the Forex, CFD and Equity markets in Asia, Europe and North America. 
                      </p>
                      <ul style="color: white;">
                        <li><i class="ri-check-double-line"></i> globalQFX provide cutting edge trading solutions for all kind of traders as well as new comers to trading.</li>
                        <li><i class="ri-check-double-line"></i> We are proud of our training methodology which has helped many newcomers to become successful traders.</li>
                        <li><i class="ri-check-double-line"></i>  We offer our clients superior execution technology, lower spreads and unrivaled liquidity on variety of Cryptocurrencies.</li>
                      </ul>
                    </div>
                    <div class="col-lg-6 pt-4 pt-lg-0">
                      <p style="color: white;">
                  globalQFX mission is to create the best and most transparent trading environment for retail and institutional clients alike allowing traders to focus
                  more on their trading. We are dedicated to provide all our clients a reliable and affordable service of the highest quality with a personal and confidential 
                  approach regardless of experience or the size of the investment. We have trader’s interests at our core and we make sure that their individual needs are 
                  always met as the markets continue to evolve over time.
                      </p>
                
                    </div>
                  </div>
                </div>
              </section>
        </div>
    </div>
</div>