<mat-nav-list>
    <div class="logo py-4">
      <img src="../../assets/logo.svg" alt="Company Logo" />
    </div>
    <mat-divider></mat-divider>
    <h2 matSubheader class="mt-2">APPLICATIONS</h2>
  
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/pages/home">
      <mat-icon>home</mat-icon> Home
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/pages/about">
      <!-- <mat-icon>dashboard</mat-icon> About -->
      <mat-icon>assessment</mat-icon> About
    </a>
    
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/pages/account-types">
      <mat-icon>contact_support</mat-icon> Account Types
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/pages/products">
      <mat-icon>production_quantity_limits</mat-icon> Products
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/pages/platforms">
      <mat-icon>contact_support</mat-icon> Platforms
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/pages/contact">
      <mat-icon>contact_page</mat-icon> Contact US
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/form/login">
      <mat-icon>login</mat-icon> Login
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/form/signup">
      <mat-icon>app_registration</mat-icon> Signup
    </a>

    <a mat-list-item> <mat-icon>edit</mat-icon> Link 4 </a>
    <!-- <a mat-list-item> <mat-icon>edit</mat-icon> Link 5 </a>
    <a mat-list-item> <mat-icon>edit</mat-icon> Link 6 </a> -->
  </mat-nav-list>