<div class="container-fluid page">
    <div class="d-flex page__box p-3 mt-2">Contact US</div>
    <div class="page__content shadow p-3 position-relative">
        <!-- <div class="page__content-data position-absolute text-center"> -->
            <div class="page__content-data">
                <section id="about1" class="about" style="background-color: whitesmoke;">
                    <div class="container" data-aos="fade-up" >
                
                      <div class="section-title">
                        <h2>contact Us</h2>
                      </div>
                
                      <div class="row">
                        <div class="col-lg-10">
                          <p>
                            <!-- Head Office: globalQFX 40 Esslemont Avenue,Aberdeen,AB25 1SP. -->
                            Head Office: fdfdfdfdf 45 fdfdreeer rerere,sddereet,AV34 1SP.
                          </p>
                          <P>
                            <!-- Sales Office: Sheikh -Zayed-Road,level 7 Dubai World Trade Center,United Arab Emirates. -->
                            Sales Office: asdfgh -rthgf-rfgh,lhgty 7 drtyh wehgd thrgj frthjf,weugfe dghj thjkloiu.
                          </P>
                          <P>
                            <!-- Email-Id: backoffice@globalQFX.com, accounts@globalQFX.com -->
                            Email-Id: asdfghjkkk@dfghjkluu.com, asdfghhj@dgfgfhgyu.com
                          </P>
                          <p>
                            
                          </p>
                        </div>
                      </div>
                
                    </div>
                </section>
        </div>
    </div>
</div>